<section class="py-5">
  <h1 class="display-3">
    Thank You for using our app
  </h1>
  <p class="lead">Your car should be clean and in  great condition 
    if not, call us </p>
  <a href="/" class="btn btn-dark btn-lg">click to go Home</a>
</section>