<section class="py-5">
  <h1 class="display-3">
    Thank You for using our app
  </h1>
<<<<<<< HEAD
  <p class="lead">Your car should be clean and in a great condition if not call us </p>
=======
  <p class="lead">Your car should be clean and in  great condition 
    if not, call us </p>
>>>>>>> 46ea3ff6baac0a59568ba10d8e476e766035d31f
  <a href="/" class="btn btn-dark btn-lg">click to go Home</a>
</section>